*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Segoe UI;
}

body{
    background:#f4f6f9;
    color:#333;
    transition:0.4s;
}

/* Dark Mode */
body.dark{
    background:#0f172a;
    color:white;
}

body.dark nav{
    background:#020617;
}

body.dark .card{
    background:#1e293b;
    color:white;
}

nav{
    background:#0f172a;
    padding:15px 40px;
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

nav h2{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

#themeToggle{
    padding:5px 10px;
    cursor:pointer;
}

.hero{
    height:100vh;   /* Sirf first screen jitni height */
    background-image: url('https://images.unsplash.com/photo-1517649763962-0c623066013b');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
    position:relative;
}

/* Dark overlay for readability */
.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.hero-text{
    position:relative;
    z-index:1;
    max-width:800px;
}

.hero h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    line-height:1.6;
}


section{
    padding:100px 40px;
    text-align:center;
}

.card-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:20px;
}

.card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

/* Scroll Animation */
.reveal{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

footer{
    background:#0f172a;
    color:white;
    padding:20px;
}
